<head>

</head>
<body>
  <div class="container">
    <p class="Logo">Argentina Programa</p>
    <div id="Banner">
      <img src="Banner/PolygonLuminary.svg" alt="Banner">
    </div>
      <h1>Leonardo Ledesma</h1>
      <h2>Encabezado</h2>
        <nav>       
          <ul class="Menu">
            <li><a href="">Acerca de</a></li>
            <li><a href="">Experiencia</a></li>
            <li><a href="">Educacion</a></li>
            <li><a href="">Hard skills y Soft skills</a></li>
            <li><a href="">Proyectos</a></li>
          </ul>
        </nav>
        <div class="Redes">
          <button>Linkedin</button>
          <button>Facebook</button>
          <button>Instagram</button>
        </div>
  </div>

</body>
